*{
    box-sizing: border-box;
}
#namehead{
    font-style: italic !important;
}
.custom-shape-divider-bottom-1658670607 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1658671235 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1658671235 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 217px;
}

.custom-shape-divider-top-1658671235 .shape-fill {
    fill: #f5d671;
}
